<%- include('homeLayouts/header.ejs') %>
<div class="container pt-4 my-5">
    <div class="row">
        <h2>Edit Blog</h2>
        <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= message.message %></strong>
            </div>
        <% } %>
        <% if(user && blog) { %>
        <form action="/updateBlog/<%= blog.id %>"  method="POST" enctype="multipart/form-data">
            <div class="row mt-3">
                <div class="col"> 
                    <input type="text" 
                        class="form-control" id="title" name="title" aria-label="Title" 
                        placeholder="Title" value="<%= blog.title  %>" required>
                </div>
                <div class="col">
                    
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <textarea id="content" name="content" rows="6" class="form-control" placeholder="Content..." required>
                        <%= blog.content  %>
                    </textarea>
                </div>
                <div class="col">
                    <div class="row mt-4">
                        <input type="text" class="form-control" id="faculty" name="faculty" value="<%= blog.faculty.name %>" readonly>
                    </div>
                    <div class="row mt-4">
                        <input type="text" id="academy" class="form-control" name="academy" value="<%= blog.academy.name %>" readonly>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="image">Background Image</label>
                    <input type="file" class="form-control" id="imageInput" accept="image/*" name="image">
                    <br>
                    <!-- Hiển thị hình ảnh cũ -->
                    <% if (blog.backgroundImage) { %>
                        <img src="/<%= blog.backgroundImage %>" id="oldImage" style="max-width: 200px; max-height: 200px;">
                        <input type="hidden" name="old_image" value="<%= blog.backgroundImage %>">
                    <% } %>
                    <!-- Hiển thị hình ảnh mới -->
                    <img src="#" id="selectedImage" style="display: none; max-width: 200px; max-height: 200px;">
                </div>                
                <div class="col">
                    <label for="files">Upload Files</label>
                    <input type="file" class="form-control" id="fileInput" accept=".docx" name="files" multiple>
                    <br>
                    <div id="fileInfo">
                        <!-- Hiển thị thông tin về các file cũ -->
                        <% if (files.length > 0) { %>
                            <% files.forEach(file => { %>
                                <div class="row mt-3">
                                    <div class="col-auto" >
                                        <% if(file.contentType === 'application/msword' || file.contentType === 'application/vnd.openxmlformats-officedocument.wordprocessingml.document') { %>
                                            <img src="/image/word-icon.png" style="max-width: 80px; max-height: 80px;">
                                        <% } %>
                                        
                                    </div>
                                    <div class="col">
                                        <p><strong>Name:</strong> 
                                            <span><%= file.filename %></span>
                                            <span>
                                                <a href="/deleteAFile/<%= file.id %>"><i class="fa-solid fa-trash-can"></i></a>
                                            </span>
                                        </p>
                                        <p><strong>Type:</strong> <span><%= file.contentType %></span></p>
                                    </div>
                                    <input type="hidden" name="old_file" value="<%= file.filename %>">
                                </div>
                            <% }); %>
                        <% } %>
                    </div>
                    <!-- Hiển thị các tệp mới nếu có -->
                    <div id="newFiles"></div>
                </div>
            </div>
            <div class="form-check my-3 ">
                <input class="form-check-input" type="checkbox" id="agreeToTerms" name="agreeToTerms">
                <label class="form-check-label" for="flexCheckDefault">
                    I agree to the terms and conditions
                </label>
            </div>
            <div class="row">
                <div class="col">
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="submit" class="btn btn-outline-primary">Create</button>
                    </div>
                </div>
                <div class="col">
                    <div class="d-grid gap-2 col-3 mx-auto">
                        <button type="button" class="btn btn-outline-secondary"><a href="#" onclick="history.go(-1); return false;">
                            Back
                        </a></button>
                    </div>
                </div>
            </div>
        </form>
        <% } %>
    </div>
</div>
<%- include('homeLayouts/footer.ejs') %>
